<!-- <ion-header [translucent]="false" style="box-shadow: none">
  <ion-toolbar color="bg" style="padding: 5px 15px;--border-width: 0 0;">
   
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding" style="background-color: var(--ion-color-bg);">
  
  <ion-img [src]="darkMode? '../../../../assets/image/Logo.png' : '../../../../assets/image/Logo.png' " style="height: 120px;width: 100%;margin-top: 40px;"></ion-img>
  <div class="ion-text-center" style="margin-top: 5px;">
  </div>

  <form #formulario="ngForm" (ngSubmit)="login()" novalidate>
    <div class="box1" style="margin-top: 25px;padding: 1px 16px;">
      <div class="ion-text-center" style="margin-top: 25px;">
        <ion-text class="title" style="color: var(--ion-color-p1);">Ingresar</ion-text>
      </div>
      <br>
  
      <!-- Nombre -->
      <ion-text class="s15">Correo electronico</ion-text>
      <div class="input" style="background-color: var(--ion-color-fb); margin: 10px 0 5px;">
        <ion-input [(ngModel)]="form.correoElectronico" name="correoElectronico" required #correoElectronico="ngModel" placeholder="Correo electronico" />
      </div>
      <ion-text color="danger" *ngIf="correoElectronico.invalid && correoElectronico.touched">Correo electronico requerido</ion-text>
      <br *ngIf="correoElectronico.invalid && correoElectronico.touched">
  
  
      <!-- Teléfono -->
      <ion-text class="s15">Password</ion-text>
      <div class="input" style="background-color: var(--ion-color-fb); margin: 10px 0 5px;">
        <ion-input [(ngModel)]="form.password" name="password" required #password="ngModel" placeholder="Password" type="password" />
      </div>
      <ion-text color="danger" *ngIf="password.invalid && password.touched">Password requerido</ion-text>
      <br *ngIf="password.invalid && password.touched">
  
      <!-- Botón -->
      <div class="list" style="margin-top: 30px; justify-content: center; margin-bottom: 10px;">
        <ion-button expand="block" style="width: 100%;" [disabled]="formulario.invalid" type="submit">
          Ingresar
        </ion-button>
      </div>
      <div class="list" style="justify-content: center; display: flex;margin-top: 15px;margin-bottom: 20px;">
        <ion-text class="s13" style="color: var(--ion-color-txt);">Quieres unirte a nuestro equipo?  </ion-text>
        <ion-text routerLink="/contactanos" class="b12" style="color: var(--ion-color-primary);margin-left: 5px;">Contactanos</ion-text>
      </div>
    
      <div class="list" style="justify-content: center; display: flex;margin-top: 15px;margin-bottom: 20px;">
        <ion-text routerLink="/olvide-contrasena" class="b12" style="color: var(--ion-color-primary);margin-left: 5px;">Olvide mi contraseña</ion-text>
      </div>
    </div>
  </form>

</ion-content>
