<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicios" href="/tabs/servicios">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pagos" href="/tabs/pagos">
      <ion-icon name="card"></ion-icon>
      <ion-label>Pagos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ayuda" href="/tabs/ayuda">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>