<ion-content class="ion-padding">

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    
    <div class="box1">
      <div class="list1">
        <ion-text class="b16">Servicio #34</ion-text>
        <div class="tag" style="background-color: #7FC09C10; width: 81px;">
          <ion-text class="s14" style="color: #7FC09C;">Confirmado</ion-text>
        </div>
      </div>

      <div class="lines" style="border-color: #6F767E20;"></div>

      <div style="padding: 15px;">
        <div style="display: flex; margin-bottom: 10px;">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">📍 Motivo:</ion-text>
          <ion-text class="m15">{{servicio.motivo}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">📍 Ubicación:</ion-text>
          <ion-text class="m15">{{servicio.direccion}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">🏙️ Ciudad:</ion-text>
          <ion-text class="m15">{{servicio.ciudad}}, {{servicio.estado}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">🏙️Lugar:</ion-text>
          <ion-text class="m15">{{servicio.tipoLugar}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">📅 Fecha:</ion-text>
          <ion-text class="m15">{{ servicio.fechaInicio | date:'dd/MM/yyyy HH:mm' }}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">📅 Horario:</ion-text>
          <ion-text class="m15">{{ servicio.fechaTermino | date:'dd/MM/yyyy HH:mm' }}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">⏰ Horas:</ion-text>
          <ion-text class="m15">{{servicio.horas}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">💰 Costo:</ion-text>
          <ion-text class="m15">{{ servicio.total | currency: 'USD':'symbol':'1.2-2' }}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">Servicio:</ion-text>
          <ion-text class="m15">{{servicio.tipoEnfermera}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">Comentarios:</ion-text>
          <ion-text class="m15">{{servicio.observaciones}}</ion-text>
        </div>
        

        <div style="display: flex; margin-bottom: 10px;" *ngIf="servicio.requiereAyudaBasica">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">Ayuda basica:</ion-text>
          <ion-text class="m15">{{servicio.requiereAyudaBasicaDesc}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;" *ngIf="servicio.EnfermedadDiagnosticada">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">Enfermedad:</ion-text>
          <ion-text class="m15">{{servicio.EnfermedadDiagnosticadaDesc}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;" *ngIf="servicio.TomaMedicamento">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">Medicamento:</ion-text>
          <ion-text class="m15">{{servicio.TomaMedicamentoDesc}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;" *ngIf="servicio.RequiereCuraciones">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">Curaciones:</ion-text>
          <ion-text class="m15">{{servicio.RequiereCuracionesDesc}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;" *ngIf="servicio.DispositivosMedicos">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">Dispositivos:</ion-text>
          <ion-text class="m15">{{servicio.DispositivosMedicosDesc}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;" *ngIf="servicio.RequiereMonitoreo">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">Monitoreo:</ion-text>
          <ion-text class="m15">{{servicio.RequiereMonitoreoDesc}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;" *ngIf="servicio.CuidadosNocturnos">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">Cuidado noc:</ion-text>
          <ion-text class="m15">{{servicio.CuidadosNocturnosDesc}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;" *ngIf="servicio.RequiereAtencionNeurologica">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">At. neuro:</ion-text>
          <ion-text class="m15">{{servicio.RequiereAtencionNeurologicaDesc}}</ion-text>
        </div>

        <div style="display: flex; margin-bottom: 10px;" *ngIf="servicio.RequiereCuidadosCriticos">
          <ion-text class="m15" style="width: 110px; font-weight: 500;">Cuid. criticos:</ion-text>
          <ion-text class="m15">{{servicio.RequiereCuidadosCriticosDesc}}</ion-text>
        </div>

      </div>




      <div class="lines" style="border-color: #6F767E20;"></div>
     
      <div class="ion-text-center" style="margin-top: 25px;">
        <ion-text class="subtitle" style="color: var(--ion-color-p1);">Enviar oferta</ion-text>
      </div>
      <br>

      <ion-text class="s15" style="margin-top: 25px;">Nombre</ion-text>
  <div style="margin-top: 25px;" class="input" style="background-color: var(--ion-color-fb);margin-top: 10px;margin-bottom: 20px;">
    <ion-input style="flex: 1;--placeholder-color:  var(--ion-color-txt);"/>
  </div>
  <ion-text class="s15" style="margin-top: 25px;">Correo electronico</ion-text>
  <div style="margin-top: 25px;" class="input" style="background-color: var(--ion-color-fb);margin-top: 10px;margin-bottom: 20px;">
    <ion-input style="flex: 1;--placeholder-color:  var(--ion-color-txt);"/>
  </div>

  <ion-button expand="block" (click)="enviarOferta()" class="ion-margin-top">
    Enviar
  </ion-button>
  <ion-button expand="block" fill="clear" (click)="cerrar()" color="danger">
    Cancelar
  </ion-button>

    </div>

  </div>



</ion-content>

